/*SPACING */

.mb-15 {
	margin-bottom: 15px;
}

.mb-50 {
	margin-bottom: 50px;
}


.ml-20 {
	margin-left: 20px;
}

.pt-15 {
	padding-top: 15px;
}

.pb-15 {
	padding-bottom: 15px;
}

.pt-50 {
	padding-top: 50px;
}

.pt-100 {
	padding-top: 100px;
}


.pb-50 {
	padding-bottom: 50px;
}

.mr-50 {
	margin-right: 50px;
}

/*END SPACING */